 <% if question.comments.count > 0 %>
 <small class="text-muted">View all <%= pluralize(question.comments.count, "comments") %> </small>
<% end %>
<% question.comments.each do |comment| %>
   <p class="card-text m-0"><span class="fw-bold"><%= comment.user.username %></span> <%= comment.body %></p>
   <% end %>